<div class="container">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="Telefone">
            <th mat-header-cell *matHeaderCellDef> Telefone </th>
            <td mat-cell *matCellDef="let element"> {{element.telefone}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> E-Mail </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Pessoa">
            <th mat-header-cell *matHeaderCellDef> Pessoa </th>
            <td mat-cell *matCellDef="let element"> {{element?.pessoa?.nome}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let element">
                <a (click)="openEditDialog(element)">
                    <i class="material-icons edit">edit</i>
                </a>
                <a (click)="deletar(element)">
                    <i class="material-icons delete">delete</i>
                </a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    </table>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Voltar</button>
    </mat-dialog-actions>

</div>