<div class="container">
    <h2 mat-dialog-title>Atualizar Pessoa</h2>
    <mat-dialog-content class="mat-typography">
        <p>
            <mat-form-field appearance="fill">
                <input matInput type="text" name="nome" placeholder="Nome" [(ngModel)]="pessoa.nome">
                <mat-icon matSuffix><i class="material-icons person">person</i></mat-icon>

            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Data Nascimento" [(ngModel)]="selectedDate">
                <mat-datepicker-toggle matIconSuffix [for]="picker" matDatepickerToggleIcon></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </p>


        <p>
            <mat-form-field appearance="fill">
                <input matInput type="text" name="usuario" placeholder="Usuário" [(ngModel)]="pessoa.usuario">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
        </p>
        <button class="mat-elevation-z4" mat-flat-button color="primary" (click)="openDialogContato()">Add Contato</button>
        <p>Quantidade Contatos: {{qtdContato}}</p>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button [mat-dialog-close]="true" (click)="editar()" cdkFocusInitial>Atualizar</button>
    </mat-dialog-actions>

</div>